
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  .flex-div{
    position: absolute;
    border-radius: 12px;
    height: 730px;
    left: 120px;
    top: 152px;
  }

  .p1{
    position: absolute;
    width: 331px;
    height: 28px;
    left: 434px;
    top: 321px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #833189;
  }

  .p2{
    position: absolute;
    width: 430px;
    height: 28px;
    left: 385px;
    top: 468px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #833189;
  }

  .heading1{
    position: absolute;
    width: 478px;
    height: 52px;
    left: 361px;
    top: 367px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #6a0871;
  }
.image{
    position: absolute;
    left: 24.23%;
    right: 32.51%;
    top: 18.7%;
    bottom: 23.44%;
     background: #000000;
    opacity: 0.3;
}
  .btn{
    background: #5b96e6;
    border-radius: 4px;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 10px;
    width: 362px;
    height: 76px;
    left: 419px;
    top: 527px;
  }